# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Coverage
.coverage
coverage.xml
htmlcov/

# Pytest
.pytest_cache/

# IDE
.vscode/

# OS
Thumbs.db
.DS_Store

# Build / logs
*.log
dist/
build/